<%= form_for(qna) do |f| %>
  <% if qna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qna.errors.count, "error") %> prohibited this qna from being saved:</h2>

      <ul>
      <% qna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :answer_email %>
    <%= f.text_field :answer_email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
